.card {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: white;
    opacity: 0.85;
    padding: 10px;
}

.cardBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardInfo {
    padding: 10px;
}

.cardImage {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    max-width: 300px;
    margin: 20px;
    margin-top: 30px;
}

img {
    vertical-align: middle;
    max-height: 200px;
    max-width: 200px;
}

.cardTitle {
    color: #464646;
    margin: 10px;
}

.cardSubtitle {
    color: #464646;
    margin: 10px;
};

.cardText {
    color: #464646;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.cardLink {
    color: #367BB5;
    margin: 10px;
}

@media (max-width: 700px) {
    .cardBody {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cardImage {
        margin-bottom: 0px;
    }
}